# ======================
# ENTORNOS
# ======================
venv/
env/
.myenv/
myenv/

# ======================
# CACHE Y BYTES COMPILADOS
# ======================
__pycache__/
*.pyc
*.pyo
*.pyd

# ======================
# DIRECTORIOS DE DATOS
# ======================
data/vector
data/models
*.pkl
*.index
!src/core/data/

# ======================
# LOGS
# ======================
logs/
*.log

# ======================
# EDITORES Y SISTEMA
# ======================
.vscode/
.idea/
.DS_Store
Thumbs.db

# ======================
# BUILD
# ======================
build/
dist/
*.egg-info/

# ======================
# ARCHIVOS QUE QUIERES IGNORAR
# ======================

models/rl_models/checkpoint-40/config.json
/models
data/processed/products.json
data/processed/products.json
/data/processed
